<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Faulkner: CV</title>
    <link rel="stylesheet" type="text/css" href="/styles/cv.css?version=8">
</head>
<body>

	<div id="navDiv">

		<nav>
			<ul>
				
				<li><a href="/">Home</a></li>
				<li><a href="/#projects">Projects</a></li>
				<li><a href="/#contact">Contact</a></li>
				<li><a href="/cv">CV</a></li>
			</ul>
		</nav>
	</div>

	<div id="cv">
		
		<p class="cvHead generalWidth">
			J A C K&nbsp;&nbsp;&nbsp;&nbsp;F A U L K N E R
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			WORK EXPERIENCE
		</p>

		<p class="cvTextB generalWidth">
			Kitronik | Software Engineer
		</p>
		<p class="cvText generalWidth">
			AUGUST 2022 – PRESENT
		</p>
		<p class="cvText generalWidth">
			&#8226; Developed firmware in C for small electronic sensors and control devices.
		</p>
		<p class="cvText generalWidth">
			&#8226; Developed and maintained libraries in TypeScript and Python for use with products.
		</p>
		<p class="cvText generalWidth">
			&#8226; Produced Android apps in Java and web applications in Node.JS, Flask, and React to be used by customers with kits and electronic accessories.
		</p>
		<p class="cvText generalWidth">
			&#8226; Made coding learning materials aimed to educate both teachers and students about computing.
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			EDUCATION
		</p>

		<p class="cvTextB generalWidth">
			University of Nottingham | BSc (Hons) Degree
		</p>
		<p class="cvText generalWidth">
			SEPTEMBER 2019 – JULY 2022
		</p>
		<p class="cvText generalWidth">
			&#8226; Computer Science – First Class
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			PERSONAL PROFILE
		</p>

		<p class="cvText generalWidth">
			I am a software engineer who studied Computer Science at the University of Nottingham. During my time there I developed great organisation and initiative skills, as well as confidence and communication skills through my jobs. Coming from a family oriented background teamwork and flexibility comes naturally to me. My determination is shown in the grades I have achieved in my education and in my success of independently learning programming languages, such as Java, C, and JS (mainly Node.JS). I’m now looking forward to gaining new experiences and challenging my skills, continuing my career as a software engineer.
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			INTERESTS
		</p>
		
		<p class="cvText generalWidth">
			&#8226; Technology, software development, electronics and IoT.
		</p>
		<p class="cvText generalWidth">
			&#8226; Personal finance, investing, stock markets, crypto currencies and NFTs.
		</p>
		<p class="cvText generalWidth">
			&#8226; TV shows, music, movies, stand-up comedy, video games.
		</p>
		<p class="cvText generalWidth">
			&#8226; Bike riding, jump rope, basketball, tennis, running, and walks with family.
		</p>
		<p class="cvText generalWidth">
			&#8226; American and English pool, table tennis, table football, darts.
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			PREVIOUS WORK EXPERIENCE & EDUCATION
		</p>

		<p class="cvTextB generalWidth">
			Tesco | Stock Control
		</p>
		<p class="cvText generalWidth">
			MAY 2019 – APRIL 2020
		</p>
		<p class="cvText generalWidth">
			&#8226; Working side by side colleagues to control the quality and flow of products across three departments.
		</p>
		<p class="cvText generalWidth">
			&#8226; Interacting with customers on a daily basis to provide an excellent personal experience in-store.
		</p>
		<p class="cvText generalWidth">
			&#8226; Hitting all targets set by the company, including and most importantly reducing waste.
		</p>

		<p class="cvTextB generalWidth">
			McDonald’s | Crew Member
		</p>
		<p class="cvText generalWidth">
			APRIL 2018 – DECEMBER 2018
		</p>
		<p class="cvText generalWidth">
			&#8226; Being part of a team, working together to provide the best quick service and experience.
		</p>
		<p class="cvText generalWidth">
			&#8226; Cooking food in batches with e-production as well as working on the food assembly line.
		</p>
		<p class="cvText generalWidth">
			&#8226; Regular cleaning of customer areas and designated work stations, plus daily deep cleaning.
		</p>

		<p class="cvTextB generalWidth">
			Nottingham College | BTEC Extended Diploma
		</p>
		<p class="cvText generalWidth">
			SEPTEMBER 2017 – JULY 2019
		</p>
		<p class="cvText generalWidth">
			&#8226; IT (Software Development) – Triple Distinction Star
		</p>

		<p class="cvTextB generalWidth">
			Christ the King Catholic Voluntary Academy | GCSE’S
		</p>
		<p class="cvText generalWidth">
			SEPTEMBER 2012 – JUNE 2017
		</p>
		<p class="cvText generalWidth">
			&#8226; Mathematics, Computing – 8, A*
		</p>
		<p class="cvText generalWidth">
			&#8226; Core Science, Additional Science, Further Additional Science – B, A, A
		</p>
		<p class="cvText generalWidth">
			&#8226; English Language, English Literature – 6, 5
		</p>
		<p class="cvText generalWidth">
			&#8226; Religious Studies, Business Studies, Graphic Design, Geography – A, B, B, B
		</p>
	</div>

	<div id="footer">

		<div id="footerContent">

			<div id="footerDiv">
				<a style="color: #fefefe; margin: 0 auto;
					text-decoration: none;" href="/">Home</a>
				
				<b style="color: #D8618C; float: right;">|</b>
			</div>

			<div id="footerDiv">
				<a style="color: #fefefe; margin: 0 auto;
					text-decoration: none;" href="/#projects">Projects</a>

				<b style="color: #D8618C; float: right;">|</b>
			</div>

			<div id="footerDiv">
				<a style="color: #fefefe; margin: 0 auto;
					text-decoration: none;" href="/#contact">Contact</a>
			</div>
		</div>
	</div>
</body>
</html>
