<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Faulkner: CV</title>
    <link rel="stylesheet" type="text/css" href="/styles/cv.css?version=8">
</head>
<body>

	<div id="navDiv">

		<nav>
			<ul>
				
				<li><a href="/">Home</a></li>
				<li><a href="/#projects">Projects</a></li>
				<li><a href="/#contact">Contact</a></li>
				<li><a href="/cv">CV</a></li>
			</ul>
		</nav>
	</div>

	<div id="cv">
		
		<p class="cvHead generalWidth">
			J a c k&nbsp;&nbsp;&nbsp;&nbsp;F a u l k n e r
		</p>
		
		<p class="cvText generalWidth">
			I am a Software Engineer with experience in developing software solutions across the full-stack of software development. My strong analytical and problem-solving skills, combined with my passion for coding, enable me to contribute to the success of a project. My determination and passion is shown in my success of independently learning to code in languages such as C, C# (ASP.NET Core) and Java (Android). I’m seeking an opportunity to further challenge my technical skills and join a team where I can continue to grow and learn from other experienced developers.
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			Experience
		</p>

		<p class="cvTextB generalWidth">
			Software Engineer / Kitronik
		</p>
		<p class="cvText generalWidth">
			AUGUST 2022 – PRESENT
		</p>
		<p class="cvText generalWidth">
			&#8226; Developed firmware in C for microchips and small electronic sensors.
		</p>
		<p class="cvText generalWidth">
			&#8226; Developed and maintained libraries in C, TypeScript and Python for use with products.
		</p>
		<p class="cvText generalWidth">
			&#8226; Produced complete web applications in Node.JS and Flask to be used with electronic accessories.
		</p>
		<p class="cvText generalWidth">
			&#8226; Drove the adoption of a workflow management process to improve efficiency and communication within the team.
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			Education
		</p>

		<p class="cvTextB generalWidth">
			Computer Science / The University of Nottingham
		</p>
		<p class="cvText generalWidth">
			SEPTEMBER 2019 – AUGUST 2022
		</p>
		<p class="cvText generalWidth">
			&#8226; Bachelor of Science Degree with Honours in the First Class
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			Hobbies
		</p>
		
		<p class="cvText generalWidth">
			&#8226; Investing, stock markets and personal finance.
		</p>
		<p class="cvText generalWidth">
			&#8226; New technologies, home automation and IoT.
		</p>
		<p class="cvText generalWidth">
			&#8226; TV shows, music, movies, stand-up comedy.
		</p>
		<p class="cvText generalWidth">
			&#8226; Pool, table football, darts, table tennis.
		</p>

		<div class="spacerThin generalWidth">
		</div>

		<p class="cvSubHead generalWidth">
			Previous Experience & Education
		</p>

		<p class="cvTextB generalWidth">
			Stock Control / Tesco
		</p>
		<p class="cvText generalWidth">
			MAY 2019 – APRIL 2020
		</p>
		<p class="cvText generalWidth">
			&#8226; Working side by side colleagues to control the quality and flow of products across the store, with a focus on reducing food waste.
		</p>

		<p class="cvTextB generalWidth">
			Crew Member / McDonald’s
		</p>
		<p class="cvText generalWidth">
			APRIL 2018 – DECEMBER 2018
		</p>
		<p class="cvText generalWidth">
			&#8226; Being part of a team, working together to provide the best service and experience.
		</p>

		<p class="cvTextB generalWidth">
			BTEC Extended Diploma / Nottingham College
		</p>
		<p class="cvText generalWidth">
			SEPTEMBER 2017 – JULY 2019
		</p>
		<p class="cvText generalWidth">
			&#8226; IT (Software Development) – Triple Distinction Star
		</p>

		<p class="cvTextB generalWidth">
			GCSE’s / Christ the King Catholic Voluntary Academy
		</p>
		<p class="cvText generalWidth">
			SEPTEMBER 2012 – JUNE 2017
		</p>
		<p class="cvText generalWidth">
			&#8226; Mathematics, Computing – 8, A*
		</p>
		<p class="cvText generalWidth">
			&#8226; Core Science, Additional Science, Further Additional Science – B, A, A
		</p>
		<p class="cvText generalWidth">
			&#8226; English Language, English Literature – 6, 5
		</p>
		<p class="cvText generalWidth">
			&#8226; Religious Studies, Business Studies, Graphic Design, Geography – A, B, B, B
		</p>
	</div>

	<div id="footer">

		<div id="footerContent">

			<div id="footerDiv">
				<a style="color: #fefefe; margin: 0 auto;
					text-decoration: none;" href="/">Home</a>
				
				<b style="color: #D8618C; float: right;">|</b>
			</div>

			<div id="footerDiv">
				<a style="color: #fefefe; margin: 0 auto;
					text-decoration: none;" href="/#projects">Projects</a>

				<b style="color: #D8618C; float: right;">|</b>
			</div>

			<div id="footerDiv">
				<a style="color: #fefefe; margin: 0 auto;
					text-decoration: none;" href="/#contact">Contact</a>
			</div>
		</div>
	</div>
</body>
</html>
