<!DOCTYPE html>
<html>
  <head>
    <title>TinyUSB - <%= server %></title>
    <script src="/js/serial.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <div class="main-content">
      <h1>TinyUSB - WebUSB Serial Example</h1>
      <div class="connect-container">
        <button id="connect" class="button black">Connect</button>
        <span id="status"></span>
      </div>
      <div class="container">
        <div class="sender">
          <div class="lines-header">Sender</div>
          <div class="lines-body">
            <div id="sender_lines" class="lines"></div>
            <input id="command_line" class="command-line" placeholder="Start typing ...." />
          </div>
        </div>
        <div class="receiver">
          <div class="lines-header">Receiver</div>
          <div class="lines-body">
            <div id="receiver_lines" class="lines"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
