<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebUSB - <%= server %></title>
	<link rel="stylesheet" href="/styles/webusb.css?version=4">
	<script src="/js/webusb.js"></script>
</head>
<body>

	<p class="pHeader">P I C O&nbsp;&nbsp;&nbsp;&nbsp;W E B U S B</p>

	<div id="webusbDiv">
		<nav>
			<ul>
				<li><a id="connect" href="#connect">Connect to Pico</a></li>
				<li class="webusbSpacer"></li>
				<li><p id="status"></p></li>
				<li><a id="turnOn" href="#turnOn">Turn On Pico LED</a></li>
				<li class="webusbSpacer"></li>
				<li><a id="turnOff" href="#turnOff">Turn Off Pico LED</a></li>
			</ul>
		</nav>
	</div>

</body>
</html>
