html {
    scroll-behavior: smooth;
}

body {
    background-color: #333333;
    color: #fefefe;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    text-align: center;
}

.pHeader {
    width: 60%;
    margin: 64px 20% 0 20%;
    float: left;
    font-size: 40px;
}

div {
    width: 100%;
    height: 56px;
    margin-top: 128px;
    float: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    top: 0;
    transition: background-color .5s;
}

nav {
    display: block;
    width: 30%;
    margin: 0 35%;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

ul li {
    width: 40%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.webusbSpacer {
    width: 18%;
}
  
ul li > a {
    display: block;
    line-height: 56px;
    text-align: center;
    color: #fefefe;
    text-decoration: none;
    z-index: 1;
    transition: background-color .5s;
}
  
ul li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #D8618C;
    visibility: hidden;
    border-radius: 4px;
    transform: scaleX(0);
    transition: .25s linear;
}

ul li > a:hover:before,
ul li > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}